
.modal-backdrop {
opacity: 0.7;
}
.modal-backdrop.fade {
opacity: 0.7;
}

b, strong {
    font-weight: 600 !important;
}

body {
margin-top: 80px;
height: 130vh;
font-size: 1rem ;
}

/* sound */
.opa{
	opacity: 0.3;
}

.btnAudioPanel {
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.btnAudioPlayStop {
  position: fixed;
  top: 50%;
  left: 2%;
}

.btn-audio-adj {
  color: red;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btnPlay {
  position: fixed; 
  bottom: 200px;
  left: 10px;
  z-index: 30;
}

.btnSound {
  position: fixed; 
  bottom: 20px; 
  left: 10px; 
  z-index: 30;
}

/*.btnEnVi {
  position: fixed; 
  bottom: 70px; 
  right: 10px;
  z-index: 30; 
}*/

.btnShowVi {
  position: fixed; 
  top: 50%;
  right: 2%;
  z-index: 30; 
}


/*override BS*/
.card-body{
padding: 0.35rem !important;
}

/* accordion */
h3.accordion{
margin: 0;
}
.accordion a{
padding: 10px;
background: #ddd;
color: #333;
text-decoration: none;
/*font-weight: bold;*/
display: block;
margin-bottom: 1px;
}
.accordion-content{
/*border: 1px solid #ddd;*/
/*padding: 6px;*/
margin: 1px 0;
}

.syn {
  font-style: italic;
  color: green;
}

.note{
	font-size: 11px;
	 position: fixed; 
	 bottom: 10px; 
	 right: 10px; 
	 z-index: 30;
	 opacity: 0.74;
}

.font-14 {
/*font-size: 15px;*/
}


#btn_back_to_top {
	display: none;
	position: fixed;
	bottom: 45px;
	right: 18px;
	z-index: 31;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	opacity: 0.24;
}

#btn_back_to_top:hover {
background-color: #a55;
}

.vocaNoteBtn:before {
/*padding: 1px 3px;*/
}


.p0 {
	padding: 0px
}

/*UNCOUNT_TAG_BEGIN*/
._y_z {
	color:red;
	font-style: italic;
}
/*SAME_N_V_TAG_BEGIN*/
._y_1z {
	text-decoration: underline;
}
._y_2z {
  color: #FFBF00;
}

#toast-container .toast.toast-info  {
  background-image: none !important;
  padding:  1rem !important;
}

.toast  {
	 opacity: 1 !important;
}

.toast-title {
  font-weight: 400 !important;
  margin-bottom: 0.3rem;
}

.toast-message {
  font-weight: 400 !important;
}

.tan-drop-custom {
	background-color: inherit !important;
	border: none !important;
	text-align: right !important;

}

.tan-drop-custom >  a.dropdown-item{
	color: rgba(255,255,255,.5);

}


/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
   -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 10rem;
}

/* Removes default focus */
input[type="range"]:focus {
  outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
   background-color: #A020F0;
   /*border-radius: 0.25rem;*/
   height: 0.25rem;  
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
   appearance: none;
   margin-top: -9px; /* Centers thumb on the track */

   /*custom styles*/
   background-color: #FFA500;
   height: 1.5rem;
   width: 0.75rem;
}

input[type="range"]:focus::-webkit-slider-thumb {   
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem; 
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
   background-color: #053a5f;
   border-radius: 0.5rem;
   height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
   border: none; /*Removes extra border that FF applies*/
   border-radius: 0; /*Removes default border-radius that FF applies*/

   /*custom styles*/
   background-color: #5cd5eb;
   height: 2rem;
   width: 1rem;
}

input[type="range"]:focus::-moz-range-thumb {
  border: 1px solid #053a5f;
  outline: 3px solid #053a5f;
  outline-offset: 0.125rem; 
}

.fontSize95 {
  font-size: 95%;
}

.storyHasNote {
  color: red;
  content: 'note';
  float: right;
}