

<!DOCTYPE html>
<html>
<head>
	<title>1500 English</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style type="text/css">

  </style>
</head>


<body ng-app="myApp">
    <div ng-controller="ctrl" class="container mt-4">
    <h1 class="mb-4">1500 words</h1>
	  <button type="button" class="btn btn-sm btn-warning">adjective</button>
      <button type="button" class="btn btn-sm btn-danger">adverb</button>
	  <button type="button" class="btn btn-sm btn-success">verb</button>
	  <button type="button" class="btn btn-sm btn-info">noun</button>

		<div class="card mt-4" ng-repeat="word in words">
		    <div class="card-body">
          <div class="card-text my-4"><span class="font-weight-bold mr-4">{{word.word}}</span>
           	<span class="mr-4 font-italic">{{word.mean}}</span>
           	<span class="mr-4">{{word.us}}</span>

            <span ng-repeat="type in word.types" class="mx-1 px-2 lead"
            ng-class="type == 'adj' ? 'bg-warning' : (type == 'adv' ? 'bg-danger' : (type == 'v' ? 'bg-success' : 'bg-info'))">{{type}}</span>

	         <button class="btn btn-primary mx-4" 
	         		 ng-click="sayIt(word.word)">
	          		<span class="glyphicon glyphicon-headphones"></span>
	      	</button>
          </div>
          <div class="card-text text-justify" 
              ng-repeat="exam in word.examples"><button ng-click="sayIt(exam)" class="ml-2 btn btn-link glyphicon glyphicon-headphones"></button> {{exam}}
          </div>
          <a href="https://dictionary.cambridge.org/dictionary/english/{{word.word}}"
          class="btn btn-primary mt-1 float-right"><span class="mr-4 glyphicon glyphicon-menu-right"></span>Cambridge</a>
        </div>
		 </div>		 
    </div>
</body>


<script type="text/javascript">
    var app = angular.module("myApp", []);
    app.controller("ctrl", function($scope) {
    $scope.words = [
        {word: "additional", us: /əˈdɪʃ·ə·nəl/, types: ["adj"], mean: "bổ sung", examples: ["There will be an extra charge for any additional passengers.", "The doctor has made an initial diagnosis, but there'll be an additional examination by a specialist."]},
        {word: "admit", us: /ədˈmit/, types: ["v"], mean: "thừa nhân", examples: ["He admitted his mistake."]},
        {word: "agree", us: /əˈɡriː/, types: ["v"], mean: "đồng ý", examples: ["I agree with you on this issue."]},
        {word: "announce", us: /əˈnaʊns/, types: ["v"], mean: "thông báo", examples: ["They announced the death of their mother in the local paper.", "She announced the winner of the competition to an excited audience."]},
        {word: "apologize", us: /əˈpɑː.lə.dʒaɪz/, types: ["v"], mean: "xin lỗi", examples: ["She apologized profusely for having to leave at 3.30 p.m. "]},
        {word: "approve", us: /əˈpruːv/, types: ["v"], mean: "tán thành", examples: ["She doesn't approve of my friends.", "He doesn't approve of smoking.", "I thoroughly approve of what the government is doing."]},
        {word: "argue", us: /ˈɑːrɡ.juː/, types: ["v"], mean: "tranh luận", examples: ["The children are always arguing.","Kids, will you stop arguing with each other?"]},
        {word: "blame", us: /bleɪm/, types: ["v"], mean: "thông báo", examples: ["Hugh blames his mother for his lack of confidence."]},
        {word: "brief", us: /briːf/, types: ["adj","adv","v"], mean: "thông báo", examples: ["His acceptance speech was mercifully brief.", "We had already been briefed about/on what the job would entail."]},
        {word: "brochure", us: /broʊˈʃʊr/, types: ["n"], mean: "cuốn sách nhỏ", examples: ["Enclosed is a brochure that highlights the benefits that you can receive as a corporate donor."]},
        {word: "certain", us: /ˈsɝː.tən/, types: ["adv"], mean: "chắc chắn", examples: ["The police seem certain that they will find the people responsible for the attack."]},
        {word: "comma", us:  /ˈkɑː.mə/, types: ["n"], mean: "dấu phẩy", examples: ["We usually put a comma after thousands in numbers."]},
        {word: "complaint", us:  /ˈkɑː.mə/, types: ["n"], mean: "lời phàn nàn", examples: ["We've received a complaint from one of our listeners about offensive language."]},
	   ];

    $scope.sayIt = function (theText) {
    	Speech = new SpeechSynthesisUtterance(theText);
        window.speechSynthesis.speak(Speech);
     };

    })
</script>
</html>




