<!-- bridge+complete ielst [Englab] -->

<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="icon" type="image/x-icon" href="fav.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-sanitize.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css" integrity="sha512-DD6Lm09YDHzhW3K4eLJ9Y7sFrBwtCF+KuSWOLYFqKsZ6RX4ifCu9vWqM4R+Uy++aBWe6wD4csgQRzGKp5vP6tg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-animate/1.8.3/angular-animate.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.tpls.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/angular-toastr@2/dist/angular-toastr.css">

  <link rel="stylesheet" type="text/css" href="styles.css">
  <script type="text/javascript" src="helper/chia_so_nhieu_dong_tu.js"></script>

  <script type="text/javascript" src="global_js.js"></script>
  <script type="text/javascript" src="helper/wordNoted.js"></script>
  <script type="text/javascript" src="indexCtrl.js"></script>

  <script type="text/javascript" src="modal/modalCtrl.js"></script>
  <script type="text/javascript" src="includes/audioCtrl.js"></script>
  
  <script type="text/javascript" src="words3000/words3000Ctrl.js"></script>
  <script type="text/javascript" src="words4000/words4000Ctrl.js"></script>
  <script type="text/javascript" src="lptd/lptdCtrl.js"></script>
  <script type="text/javascript" src="grammer/grammerCtrl.js"></script>
  <script type="text/javascript" src="ebooks/bridge/bridgeLCtrl.js"></script>
  <script type="text/javascript" src="ebooks/bridge/bridgeRCtrl.js"></script>
  <script type="text/javascript" src="ebooks/complete/completeLCtrl.js"></script>
  <script type="text/javascript" src="ebooks/complete/completeRCtrl.js"></script>
  <script type="text/javascript" src="ebooks/sampleSpeaking/sampleSpeakingCtrl.js"></script>
  <script type="text/javascript" src="ebooks/englab/preCourse/preCourseCtrl.js"></script>
  <script type="text/javascript" src="vocaNoted/vocaNotedCtrl.js"></script>

</head>

<body ng-app="myApp">
    <div ng-controller="indexCtrl" class="container mt-4" ng-cloak>

      <nav class="navbar navbar-expand-sm fixed-top bg-dark navbar-dark justify-content-end px-4">
    <a class="navbar-brand mr-auto" ng-href="#/!"><i class="fa fa-lg fa-language"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0 ml-auto" id="navbarSupportedContent"  data-toggle="collapse" data-target="#navbar-collapse">
        <ul class="navbar-nav text-right">
            <li class="nav-item "><a class="nav-link" ng-href="#!lptd">LPTD</a></li>
            <li class="nav-item "><a class="nav-link" ng-href="#!book4k">4kWords</a></li>
            <li class="nav-item "><a class="nav-link" ng-href="#!ebooks">Ebooks</a></li>
            <li class="nav-item "><a class="nav-link" ng-href="#!grammer">Grammer</a></li>
            <li class="nav-item "><a class="nav-link" href="#!vocaNoted">Voca</a></li>
        </ul>
    </div>
</nav>

      <div class="input-group my-3">
        <input type="text" 
        	class="form-control" 
        	ng-change="searchTyping()" 
        	ng-model="search" 
        	placeholder="Search..."
        	>  

        <div class="input-group-append">
          <button class="btn" 
            ng-click="saveNoted($event, search)">
           <i class="fa fa-save"></i></button>
         </div> 

        <div class="input-group-append">
          <button class="btn-sm btn-outline-secondary" 
            ng-click="fetchSentenceSearch()">
          [SE]</button>
        </div>

        <div class="input-group-append">
          <button class="btn-sm btn-outline-secondary" 
            ng-click="clearSearch()">
          <i class="fa fa-close"></i></button>
        </div>

      </div>

      <div class="text-sm my-1" 
        ng-repeat="sen in sentenceSearches | limitTo:-3 track by $index">
        <!-- <button class="btn btn-sm border-primary" >Ex</button> -->
        <span class="text-danger">*</span> 
        <span 
        	ng-bind-html="sen"
          ng-click="Index_Speak($event, sen, true)"
        ></span>
     
        <br>
      </div>

      <div class="text-sm my-2" 
        ng-repeat="word in searchDataResult track by $index">
         <button class="btn-sm btn-primary vocaNoteBtn p-1"

            ng-show="!IsWordSavedBefore(word.full)"
            ng-click="saveNoted($event, word.full)">
            <i class="fa fa-save"></i>
        </button>

        <span ng-bind-html="word.p1"
          ng-click="Index_Speak($event, word.full)"
        ></span>

        <span ng-bind-html="word.p2"
          ng-click="showExampleModal(word.full, $event)"
        ></span>


        <br>
      </div>

      <div class="my-3" ng-view></div>

    <button
        onclick="topFunction()" 
        type="button"
        class="btn btn-danger btn-floating btn-md"
        id="btn_back_to_top"
        >
        ^
</button>

    </div> <!-- container -->
    
    <p style="height:15vh"></p>
</body>

</html>


  <script>
    $("#navbarSupportedContent a:not(.dropdown-toggle)").click(function() {
      $("#navbarSupportedContent").collapse("hide");
    });    
    $(".navbar-brand").click(function() {
      $("#navbarSupportedContent").collapse("hide");
    });
  </script>