
.modal-backdrop {
opacity: 0.7;
}
.modal-backdrop.fade {
opacity: 0.7;
}

body {
	margin-top: 80px;
height: 130vh;
font-size: 1rem ;
}

/* sound */
.opa{
	opacity: 0.4;
}
.btnPlay {
  position: fixed; 
  bottom: 180px;
  left: 10px;
  z-index: 30;
}

.btnSound {
  position: fixed; 
  bottom: 20px; 
  left: 10px; 
  z-index: 30;
}
.btnEnVi {
  position: fixed; 
  bottom: 70px; 
  right: 10px;
  z-index: 30; 
}
.btnShowVi {
  position: fixed; 
  bottom: 180px; 
  right: 10px; 
  z-index: 30; 
}


/*override BS*/
.card-body{
padding: 0.25rem !important;
}

/* accordion */
h3.accordion{
margin: 0;
}
.accordion a{
padding: 10px;
background: #ddd;
color: #333;
text-decoration: none;
/*font-weight: bold;*/
display: block;
margin-bottom: 1px;
}
.accordion-content{
/*border: 1px solid #ddd;*/
/*padding: 6px;*/
margin: 1px 0;
}



.note{
	font-size: 11px;
	 position: fixed; 
	 bottom: 10px; 
	 right: 10px; 
	 z-index: 30;
	 opacity: 0.74;
}

.font-14 {
/*font-size: 15px;*/
}


#btn_back_to_top {
	display: none;
	position: fixed;
	bottom: 45px;
	right: 30px;
	z-index: 31;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: red;
	color: white;
	cursor: pointer;
	opacity: 0.24;
}

#btn_back_to_top:hover {
background-color: #a55;
}

.vocaNoteBtn:before {
/*padding: 1px 3px;*/
}


.p0 {
	padding: 0px
}

/*UNCOUNT_TAG_BEGIN*/
.uncount_voca_story, ._y_z {
	color:red;
}


.toast  {
	 opacity: 1 !important;
}
