  body {
  height: 130vh;
}


	.opa{
		opacity: 0.4;
	}
	.btnPlay {
	  position: fixed; 
	  bottom: 180px;
	  left: 10px;
	  z-index: 99;

	}
	.btnSound {
	  position: fixed; 
	  bottom: 20px; /* Place the button at the bottom of the page */
	  left: 10px; /* Place the button 30px from the right */
	  z-index: 99; /* Make sure it does not overlap */
	}
	.btnEnVi {
	  position: fixed; 
	  bottom: 70px; /* Place the button at the bottom of the page */
	  right: 10px; /* Place the button 30px from the right */
	  z-index: 99; /* Make sure it does not overlap */
	}
	.btnShowVi {
	  position: fixed; 
	  bottom: 180px; /* Place the button at the bottom of the page */
	  right: 10px; /* Place the button 30px from the right */
	  z-index: 99; /* Make sure it does not overlap */
	}