
    <h5 class="mb-4" ng-init="showText=1">LPTD CD1-4</h5>

    	<form name="cdForm" class="my-3" role="group">
    		<input type="radio" name="radioCD" value="1" onchange="radioCDChange(1)" checked/><span class="mr-3">1</span>
        	<input type="radio" name="radioCD" value="2" onchange="radioCDChange(2)" /><span class="mr-3">2</span>
        	<input type="radio" name="radioCD" value="3" onchange="radioCDChange(3)" /><span class="mr-3">3</span>
        	<input type="radio" name="radioCD" value="4" onchange="radioCDChange(4)" />4
    	</form>

    	<div class="my-1">
		    <div ng-repeat="u in units" style="text-align: right;" class="col-md-4">
		    	<span class="mr-2">{{u.title}}</span>
		    	 <a ng-repeat="n in range(u.num, u.num + 4)" 
		    	 ng-click="fetchStory(n-1);" 
		    	 href="" 
		    	 ng-class="storyIdx==n-1 ? 'font-weight-bold' : 'font-weight-normal'"
		    	 class="p-2 mr-1"> 
		    	 [{{n}}]
		    	</a>
		    </div>
		    <br> 
		    <form name="loopForm" class="mb-3" role="group">
	    		<input type="radio" name="radioLoop" value="0" onchange="radioLoopChange(0)" checked/><span class="mr-3">No</span>
	        	<input type="radio" name="radioLoop" value="1" onchange="radioLoopChange(1)" /><span class="mr-3">Yes</span>
	        	<input type="radio" name="radioLoop" value="2" onchange="radioLoopChange(2)" /><span class="mr-3">Auto</span>
    		</form>
    		
	    	<span class="btnShowVi opa">
	        	<button class="btn btn-sm btn-success" ng-click="bShowVi=!bShowVi">{{bShowVi == 0 ? '->Vi' : '->En' }}</button>
	    	</span>

	        <span ng-show="!bShowVi" class="btnEnVi opa">
	        	<!-- <p><button class="btn btn-sm btn-danger" ng-show="bHiddenWords" ng-click="fetchStory(storyIdx, false)">[Rs]</button></p> -->
				<!-- <p><button class="btn btn-sm btn-danger" ng-click="bHiddenWords=!bHiddenWords">{{bHiddenWords == 0 ? '->[..]' : '->[w]' }}</button></p> -->
			</span>
		 </div>

		<span  class="btnPlay opa">
			<button class="btn btn-sm btn-info" ng-click="playFullSound($index)">{{bPlayingFull ? 'Stop' : 'Play'}}</button>
		</span>

    	<span ng-show="bPlayingFull" class="btnSound opa">
    		<p><button class="btn btn-sm btn-danger" ng-click="pauseSound()">{{bPause ? 'Resume' : 'Pause'}}</button></p>
    		<p><button class="btn btn-sm btn-danger" ng-click="backSound(-1)">-s</button></p>
    		<p><button class="btn btn-sm btn-danger" ng-click="backSound(1)">+s</button></p>
    	</span>


		<div class="card mt-1">
		    <div class="card-body">
	          <div class="card-text my-2">
	          	
	          	<h6 class="accordion" >
				    <a href ng-click="showText=!showText"> {{story.title}}</a>
				 </h6>
	          	 <div class="accordion-content">
	          		<p ng-bind-html="story.enShow" ng-if="!bShowVi && !bHiddenWords && showText"></p>
	          		<p ng-bind-html="story.viShow" ng-if="bShowVi && showText""></p>
	          		<p ng-bind-html="story.en_hidden_words" ng-if="bHiddenWords && !bShowVi && showText"></p>
	          	</div>
	          		<hr>	
	        	<div class="px-2" ng-if="story.vocaNotes.length">
	        		<p class="mb-1" ng-repeat="(index, note) in story.vocaNotes">
	          			{{note}}
	          		</p>
	          	</div>
	          	
	          </div> <!-- card-text -->
        	</div> 		<!-- card-body -->
		 </div> <!-- card -->


</html>
