<div class="modal-header">
    <h6 class="modal-title" id="modal-title">Examples:</h6>
</div>
<div class="modal-body p-1" id="modal-body">
    <ul ng-repeat="sentence in data.dataSent | limitTo: -5 track by $index" class="my-2" >
        <li ng-bind-html="sentence"></li>
    </ul> 

</div>
<div class="modal-footer">
    <button 
    	ng-if="data.dataSent.length > 5"
    	class="btn btn-sm border-alert" 
    	ng-click="shuffle()"
    	>
    	Shuffle
    </button>
    <button 
    	class="btn btn-sm border-warning" 
    	ng-click="close()"
    	>
    	Close
	</button>
</div>