<div class="modal-header">
    <small class="modal-title" id="modal-title">{{data.wordFull}}</small>
</div>
<div class="modal-body p-1" id="modal-body">
    <p ng-repeat="sentence in data.dataSent | limitTo: -5 track by $index" class="my-2" >
        -<span ng-bind-html="sentence" class="d-inline"></span> 
        <button class="btn btn-sm border-danger"
            ng-click="speak(sentence)">
                V
        </button>
    </p> 

</div>
<div class="modal-footer">
    <button 
    	class="btn btn-sm border-danger" 
    	ng-click="shuffleFromModal(data.wordFull)"
    	>
    	Shuffle
    </button>

    <button 
    	class="btn btn-sm border-warning" 
    	ng-click="close()"
    	>
    	[X]
	</button>
</div>