

<section class="study-shell">
	<div ng-include="'./includes/studyHeader.html'"
		ng-init="studyEyebrow='VIDEO'; studyTitle='YTB Viewer'; studyDescription='Watch English videos.'; studyStatus='VIDEO'"></div>

<div class="ytb-grid">
	<div class="ytb-item" ng-repeat="v in videos track by $index">
		<div class="ytb-frame">
			<iframe ng-src="{{trust(v.embed)}}" title="{{v.title}}"
				frameborder="0" loading="lazy"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen></iframe>
		</div>
		<div class="ytb-title">{{v.title}}</div>
	</div>
</div>
<p class="word-empty" ng-if="!videos.length">Chua co video. Them link vao ytb/ytb_data.js</p>

</section>
