
<mark class="mb-4">Tactics for Listening</mark>

<form name="tfl_bForm" class="my-3" role="group">
	<input id="11" type="radio" name="book" value="1" onchange="bookChange(1)" checked/><label for="11" class="mr-3">1</label>
	<input id="22" type="radio" name="book" value="2" onchange="bookChange(2)" checked/><label for="22" class="mr-3">2</label>
</form>

<div class="my-1 mb-4" style="overflow-y: scroll; max-height:200px;">
     <a ng-repeat="story in titles track by $index"
         ng-click="fetchStory($index);" 
         ng-class="storyIdx==$index ? 'font-weight-bold' : 'font-weight-normal' "
         href="" class="p-2 mr-1"> <span ng-style="styleTrack(story.track)" ng-class="story.hasNote ? 'text-danger' : '' "> {{story.track}} </span>	
    </a>
 </div>


<div ng-include="'./includes/storyL.html'" ></div>

