
    <h4 class="mb-4">Englab Pre-Course</h4>

        <hr>
        <div ng-repeat="story in stories track by $index" class="mb-2" >
        <h6 class="accordion" >
          <a href ng-click="acc_click($index)">{{$index+1}}. {{story.date}}</a>
        </h6>
          <div class="accordion-content" ng-show="acc_isShow($index)">
              <p><i>{{story.title}}</i></p>
             <p compile="story.en"></p>
             <div class="mt-1" ng-if="story.vocaNotes">
                  <hr/>
                  <p  class="mb-1" ng-repeat="note in story.vocaNotes">
                      {{note}}
                    </p>
             </div>
          </div>
      </div> <!-- ng-repeat -->
