
<section class="study-shell">
     <div ng-include="'./includes/studyHeader.html'"
          ng-init="studyEyebrow='CONVERSATION COURSE'; studyTitle='Face 2 Face'; studyDescription='Build natural English through guided conversations.'; studyStatus='F2F • 3 books'"></div>

<form name="f2f_bForm" class="my-3" role="group">
     <input type="radio" name="book" value="1" onchange="f2fBookChange(1)" checked/><span class="mr-3">1</span>
     <input type="radio" name="book" value="2" onchange="f2fBookChange(2)" checked/><span class="mr-3">2</span>
     <input type="radio" name="book" value="6" onchange="f2fBookChange(6)" checked/><span class="mr-3">6</span>
</form>

<div class="my-1 mb-4">
     <a ng-repeat="story in stories"
         ng-click="fetchStory($index);" 
         ng-class="storyIdx==$index ? 'font-weight-bold' : 'font-weight-normal' "
         href="" class="p-2 mr-1"> {{story.track}}
    </a>
 </div>


<div ng-include="'./includes/storyL.html'" ></div>

</section>

