

    <h5 class="mb-4">Bridge Listening</h5>
    
    	<a ng-href="#!bridgeR">Reading</a>

    	<form name="cdForm" class="my-3" role="group">
    		<input type="radio" name="radioCD" value="1" onchange="radioCDChange(1)" checked/><span class="mr-2">CD1</span>
    	</form>

    	<div class="my-3">
		    <div class="col-md-12">
		    	 <a ng-repeat="story in stories"  
		    	 ng-click="fetchStory($index);" 
		    	 href="" 
		    	 ng-class="storyIdx==$index ? 'font-weight-bold' : 'font-weight-normal'"
		    	 class="pr-2 mr-1"> 
		    	 [{{story.title}}]
		    	</a>
		    </div>
		    <br> 

	    <form name="loopForm" class="mb-3" role="group">
    		<input type="radio" name="radioLoop" ng-value="0" ng-model="loopType"/><span class="mr-3">No</span>
        	<input type="radio" name="radioLoop" ng-value="1" ng-model="loopType" /><span class="mr-3">Yes</span>
        	<input type="radio" name="radioLoop" ng-value="2" ng-model="loopType"/><span class="mr-3">Auto</span>
		</form>

		 </div>
		<span  class="btnPlay opa">
			<button class="btn btn-sm btn-info" ng-click="playFullSound($index)">{{bPlayingFull ? 'Stop' : 'Play'}}</button>
		</span>

    	<span ng-show="bPlayingFull" class="btnSound opa">
    		<p><button class="btn btn-sm btn-danger" ng-click="pauseSound()">{{bPause ? 'Resume' : 'Pause'}}</button></p>
    		<p><button class="btn btn-sm btn-danger" ng-click="backSound(-1)">-s</button></p>
    		<p><button class="btn btn-sm btn-danger" ng-click="backSound(1)">+s</button></p>
    	</span>

		<span class="btnShowVi opa">
        	<button class="btn btn-sm btn-success" ng-click="bShowVi=!bShowVi">{{bShowVi == 0 ? '->Vi' : '->En' }}</button>
    	</span>


		<div class="card mt-4">
		    <div class="card-body">
	          <div class="card-text my-2">
	          	<!-- <p ng-repeat="(index, sentence) in story.en" ng-if="bShowVi" ng-click="playSentence(index)">{{sentence}}</p> -->
	          	<h6 class="accordion" >
				    <a href>{{story.title}}</a>
				 </h6>

				 <div class="accordion-content">
	          		<p compile="story.enShow" ng-if="!bShowVi"></p>
	          		<p ng-bind-html="story.viShow" ng-if="bShowVi"></p>
	        	</div>

	          	<!-- <img ng-src="listen_data\images\{{story.img}}-min.png" class="img-fluid"> -->

	          	<div class="mt-1" ng-if="story.vocaNotes">
	           	<hr/>
	        		<p  class="mb-1" ng-repeat="(index, note) in story.vocaNotes">
	          			{{note}}
	          		</p>
	          	</div>

	        
	          </div> <!-- card-text -->
        	</div> 		<!-- card-body -->
		 </div> <!-- card -->
   