<div ng-include="'./includes/showVi.html'" ></div>

<h4 class="mb-4">Englab Beginner</h4>
<hr>

<form name="beg_ielt_bForm" class="my-3" role="group">
	<input id="111" type="radio" name="ielt_form" value="0" onchange="ielt_formChange(0)" checked/><label class="mr-3" for="111">Read</label>
	<input id="222" type="radio" name="ielt_form" value="1" onchange="ielt_formChange(1)" /><label class="mr-3" for="222">Write</label>
	<input id="333" type="radio" name="ielt_form" value="2" onchange="ielt_formChange(2)" /><label class="mr-3" for="333">Speak</label>
</form>

<div ng-repeat="fTitle in titles track by $index" class="mb-2" >
  <h6 class="accordion">
    <a href 
    	ng-style="examTypeCss($index)"
    	ng-click="acc_click($index)">
    		{{$index+1}}. {{fTitle}}
	</a>
  </h6>
  <div class="accordion-content" ng-if="acc_isShow($index)">
	<p compile="story.enShow" ng-if="!$root.bShowVi"></p>
	<p compile="story.viShow" ng-if="$root.bShowVi"></p>
	
	<div ng-include="'./includes/true_f_notG.html'" ></div>

	<hr ng-if="story.note.split('|').length">	
	<div class="px-2 mb-1" ng-if="story.note.length">
	<p class="mb-1" ng-repeat="sen in story.note.split('|') track by $index">
		{{sen}}
	</p>
	</div>

  </div>
</div> <!-- repeat -->

