
<h4 class="mb-4">Englab Beginner</h4>
<hr>

<form name="beg_ielt_bForm" class="my-1" role="group">
	<input id="111" type="radio" name="ielt_form" onchange="ielt_formChange(0)" checked/><label class="mr-3" for="111">R</label>
	<input id="222" type="radio" name="ielt_form" onchange="ielt_formChange(1)" /><label class="mr-3" for="222">W</label>
	<input id="333" type="radio" name="ielt_form" onchange="ielt_formChange(2)" /><label class="mr-3" for="333">S</label>
	<input id="444" type="radio" name="ielt_form" onchange="ielt_formChange(3)"><label class="mr-3" for="444">L</label>
	<input id="555" type="radio" name="ielt_form" onchange="ielt_formChange(4)"><label class="mr-3" for="555">S-Vol5</label>
</form>

<div ng-show="ielt_form!==3 && ielt_form!==4">
	<div ng-include="'./includes/storyR.html'" ></div>
</div> <!-- ielt_form -->

<div ng-show="ielt_form===3 || ielt_form===4">
	<div class="my-1 mb-4" style="overflow-y: scroll; max-height:200px;">
		<a ng-repeat="story in stories"
		ng-click="fetchStory($index);" 
		ng-class="storyIdx==$index ? 'font-weight-bold' : 'font-weight-normal' "
		href="" class="p-2 mr-1"> <span> {{story.track}} </span>	
	</a>
</div>

<div ng-include="'./includes/storyL.html'" ></div>
</div>
