
<div ng-repeat="category in storyTitles track by $index" class="my-2" >
	<h6 class="accordion scroll">
	  <a href ng-click="acc_click($index)"><span ng-if="$index<9">0</span>{{$index+1}}. {{category.title}} &nbsp&nbsp&nbsp&nbsp[{{category.num}}: words]</a>
	</h6>
	<div class="accordion-content" ng-if="acc_isShow($index)">

		<div ng-repeat="wordFull in words track by $index" class="my-1">
		<!-- 	<button 
				class="btn btn-sm border-primary" 
				>Ex</button> -->
	   		<span 
	   		ng-bind-html="wordFull" 
	   		ng-click="showExampleModal('alert', wordFull, $event)"
	   		class="mb-1"
	   		></span><br>
		</div>

	</div>
</div>
  