

<div ng-init="$root.bShowVi=0">

	    	<span class="btnShowVi opa">
	        	<button class="btn btn-sm btn-success" ng-click="$root.bShowVi=!$root.bShowVi">{{$root.bShowVi == 0 ? '->Vi' : '->En' }}</button>
	    	</span>

		<span class="btnPlay opa">
			<button class="btn btn-sm btn-info" ng-click="playFullSound()">{{bPlaying ? 'Stop' : 'Play'}}</button>
		</span>

    	<span ng-show="bPlaying" class="btnSound opa">
    		<p><button class="btn btn-sm btn-danger" ng-click="pauseSound()">{{bPause ? 'Resume' : 'Pause'}}</button></p>
    		<p><button class="btn btn-sm btn-danger" ng-click="backSound(-1)">-{{audioAdjTime}}s</button></p>
    		<p><button class="btn btn-sm btn-danger" ng-click="backSound(1)">+{{audioAdjTime}}s</button></p>
    	</span>
</div>

