

<div>
		<div ng-include="'./includes/showVi.html'" ></div>
		
		<span class="btnPlay opa">
			<button class="btn btn-sm btn-info" ng-click="playFullSound()">{{bPlaying ? 'Stop' : 'Play'}}</button>
		</span>

    	<span ng-show="bPlaying" class="btnSound opa">
    		<p><button class="btn btn-sm btn-danger" ng-click="pauseSound()">{{bPause ? 'Resume' : 'Pause'}}</button></p>
    		<p><button class="btn btn-sm btn-danger" ng-click="backSound(-1)">-{{audioAdjTime}}s</button></p>
    		<p><button class="btn btn-sm btn-danger" ng-click="backSound(1)">+{{audioAdjTime}}s</button></p>

    		<input 
				ng-show="bPlaying"
				type="range" 
				id="slider"
				class="form-range"
				min="0" 
				max="100" 
				step="1"
				value='0'
				oninput="setAudioTime()"
			>
    	</span>
</div>

