<div ng-if="story.T_F_NG && story.T_F_NG.trim().length>0" >
	<mark class="text-primary mb-1">T(Y)/F(N)/NG</mark>
	<p class="mb-1" ng-repeat="sen in story.T_F_NG.split('<br>') track by $index">
		<span ng-click="Index_NoteVoca_Speak(sen)">{{sen}}</span>
	</p>
</div>

<div ng-if="story.Match_Heading && story.Match_Heading.trim().length>0" >
	<mark class="text-primary">Matching the Headings</mark>
	<p class="mb-1" ng-repeat="sen in story.Match_Heading.split('<br>') track by $index">
		<span ng-click="Index_NoteVoca_Speak(sen)">{{sen}}</span>
	</p>
</div>

<div ng-if="story.transExercise && story.transExercise.trim().length>0" >
	<mark class="text-primary">Translate</mark>
	<span>{{story.transExercise}}</span>
</div>

<div ng-if="story.images && story.images.length > 0">
	<div ng-repeat="img in story.images track by $index">
		<!-- <img src="{{img_root}}/{{img}}-min.png" class="img-fluid mb-2"> -->
		<img src="{{img_root}}/{{img}}.png" class="img-fluid mb-2">
	</div>
</div>

<button class="btn btn-sm btn-success mb-1"
		ng-show="story.images || story.en_ans"
		ng-init="show_answer = 0" 
		ng-click="show_answer = !show_answer">
		{{!show_answer ? 'Show anwser' : 'Hide anwser'}}
</button>

<div ng-show="show_answer == 1">
	<div class="mt-2" ng-show="story.en_ans">
		<p class="mb-1" ng-repeat="_ans in story.en_ans.split('|') track by $index"> {{_ans}}
		</p>
	</div>

	<div class="mt-2">
		<div ng-repeat="img in story.ans_images track by $index">
			<img src="{{img_root}}/{{img}}.png" class="img-fluid mb-2">
		</div>
	</div>
</div> <!-- show_answer -->

