<div ng-init="$root.bVocaOfEbook=false" ng-if="$root.vocaEbook.length>0">
	<span class="fixed-right top40 opa">
    	<button 
	    	style="font-size: 0.7rem" 
	    	class="btn btn-sm btn-success" 
	    	ng-click="$root.bVocaOfEbook=!$root.bVocaOfEbook">
	    	Show<br/>{{$root.bVocaOfEbook == 1 ? 'Voca' : 'Lession' }}
    	</button>
	</span>
</div>

<div ng-init="$root.bShowVi=0">
	<span class="fixed-right top50 opa" ng-show="$root.storyHasVi">
    	<button 
	    	style="font-size: 0.7rem" 
	    	class="btn btn-sm btn-danger" 
	    	ng-click="$root.bShowVi=!$root.bShowVi">
	    	Show<br/>{{$root.bShowVi == 0 ? 'En' : 'VI' }}
    	</button>
	</span>
</div>

<div>
	<span class="fixed-right top60 opa" id="transSentenClick">
    	<button 
    		style="font-size: 0.6rem" 
    		class="btn btn-sm btn-warning" 
    		ng-click="toggleTransSenten()">
    		GGTouched<br/>Sen{{bTransSentenOnClick == 0 ? '[Off]' : '[On]' }}
    	</button>
	</span>
</div>

