
<div ng-init="$root.bVocaOfEbook=false" ng-if="$root.vocaEbook.length>0">
	<span class="btnShowVocaOfEbook opa">
    	<button class="btn btn-danger" ng-click="$root.bVocaOfEbook=!$root.bVocaOfEbook">{{$root.bVocaOfEbook == 0 ? '->V' : '->L' }}</button>
	</span>
</div>

<div ng-init="$root.bShowVi=0">
	<span class="btnShowVi opa" ng-show="$root.storyHasVi">
    	<button class="btn btn-danger" ng-click="$root.bShowVi=!$root.bShowVi">{{$root.bShowVi == 0 ? '->Vi' : '->En' }}</button>
	</span>
</div>