
<div class="my-1 mb-4" style="overflow-y: scroll; max-height:200px; height: auto; min-height: 100% !important;">
	<a ng-repeat="title in titles"
	ng-click="fetchStory($index);" 
	ng-class="storyIdx==$index ? 'font-weight-bold' : 'font-weight-normal' "
	href="" class="p-2 mr-1">
		<span ng-style="title.ngStyle">
			{{title.trackRutgon || title.track || $index}}
		</span>
	</a>
</div>

<div ng-include="'./includes/audioLoopRadio.html'" ng-controller="audioLoopRadioCtrl" class="mb-1"></div>
<div ng-include="'./includes/audio.html'" ng-controller="AudioCtrl"></div>

<div class="card mt-2" ng-init="showLession=1;showScript=1">
	<div class="card-body">
	  <div class="card-text my-2">
	  	
	  	<h6 class="accordion toggleClick" ng-click="showLession=!showLession">
		    <a href>{{story.fTitle}}</a>
		    <span ng-if="story.hasExercise" class="text-danger">[Ex.]</span>
		 </h6>

		 
	  	 <div class="accordion-content toggleShow" ng-show="showLession">
			<button class="mb-2 btn-sm btn-success" ng-click="showScript=!showScript">{{!showScript ? 'Show' : 'Hide'}}</button>
	  	 	<div ng-show="showScript">
	  			<p id="content-to-word" title="{{story.fTitle}}" compile="story.enShow" ng-if="!$root.bShowVi"></p>
	  			<p compile="story.viShow" ng-if="$root.bShowVi"></p>
	  	 	</div>

		  	<div ng-include="'./includes/exercise.html'" ></div>
			<div ng-include="'./includes/html_note.html'" ></div>
	  	</div>

	  	
	  </div> <!-- card-text -->
	</div> 		<!-- card-body -->
</div> <!-- card -->
