
<div ng-repeat="obj in titles track by $index" class="mb-2" >
  <h6 class="accordion" >
    <a href 
      ng-class="obj.storyCss"
      ng-click="acc_click($index)">
      {{$index+1}}. {{obj.fTitle}}
      <label class="text-danger">
      <span ng-if="obj.hasNote">[Noted]</span>
      <span ng-if="obj.blankEn" class="text-warning">[Blank]</span>
      <span ng-if="obj.hasExercise">[Ex.]</span>
      </label>
    </a>
    
  </h6>
  
  <div class="accordion-content" ng-if="acc_isShow($index)">
    	<p compile="story.enShow" ng-if="!$root.bShowVi"></p>
    	<p compile="story.viShow" ng-if="$root.bShowVi"></p>

      <div ng-include="'./includes/exercise.html'" ></div>
      <div ng-include="'./includes/html_note.html'" ></div>
	</div> <!-- accordion -->

</div>
