
    <h5 class="mb-4">Sample Speaking</h5>


    	<div class="mt-3">
		     <div ng-include="'./includes/audioLoopRadio.html'" ng-controller="audioLoopRadioCtrl"></div>
	     </div>

		  <div ng-include="'./includes/audio.html'" ng-controller="AudioCtrl"></div>

		<div class="card mt-1">
		    <div class="card-body">
	          <div class="card-text my-2" ng-repeat="title in titles track by $index">
	          	<h6 class="accordion">
				    <a href ng-click="acc_click($index)"> {{title}}</a>
				 </h6>
	          	 <div class="accordion-content" ng-show="acc_isShow($index)">
	          		<p compile="story.enShow" ng-if="!bShowVi"></p>
	          		<p ng-bind-html="story.viShow" ng-if="bShowVi"></p>
	          	</div>
	        	<div class="mt-1 p-3" ng-if="story.vocaNotes.length">
	           	<hr/>
	        		<p class="mb-1" ng-repeat="(index, note) in story.vocaNotes">
	          			{{note}}
	          		</p>
	          	</div>	          	
	          </div> <!-- card-text -->
        	</div> 		<!-- card-body -->
		 </div> <!-- card -->

